body {
  margin: 0;
  background: white;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
}

.screen {
  display: none;
  padding: 40px;
}

.screen.active {
  display: block;
}

.logo {
  width: 90vw;        /* casi todo el ancho */
  max-width: none;    /* sin límite */
  height: auto;
  margin: 0;
  display: block;
}

.btn {
  padding: 15px 30px;
  font-size: 18px;
  background: #8b0000;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.btn:hover {
  background: #b30000;
}

select {
  padding: 10px;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 5px;
}

.character-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.character-item {
  width: 320px;
  background: #1a1a1a;
  padding: 12px;
  margin: 6px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
}

.character-item:hover {
  border: 2px solid #8b0000;
}

.character-item.selected {
  border: 2px solid #00ff88;
}

.character-item.locked {
  background: #333;
  color: #888;
  cursor: not-allowed;
  border: 2px solid transparent;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
  width: 250px;
}

#screen-start {
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.btn-start {
  background: #000;
  border: 2px solid #444;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-start:hover {
  background: #111;
  border: 2px solid #8b0000;
}

.btn-mute {
  position: absolute;
  top: 6px;
  right: 6px;
  background: #000;
  border: 1px solid #444;
  font-size: 5px;
  padding: 4px 6px;
  border-radius: 6px;
  cursor: pointer;
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}

.player-card {
  width: 70px;
  height: 70px;
  background: white;
  border: 2px solid black;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 26px;
  font-weight: bold;
  cursor: pointer;

  transition: 0.2s;
}

.player-card:hover {
  background: black;
  color: white;
  transform: scale(1.05);
}

.note {
  margin-top: 25px;
  font-size: 14px;
  color: #333;
}

